html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

#map_canvas {
height: 650px;
}
}

#list{
    width: 100%;
}
#map{
    width:500px;
    height:600px;
    margin:10px;
    border: 1px solid black;
    margin: auto;
}
.select2-container{
    width: 100%!important;
}
body{
    margin: 20px;
}